body {
  background-color: #2E112D;
}

.La {
  color: #A03C78;
}

.CN {
  color: #A03C78;
}

.HB {
  color: #39A6A3;
}

table {
  color: #C2BE53;
}

h1 {
  color: #307672;
}

h3 {
  color: #107A8B;
}

.Name {
  color: #D35D6E;
}

.p {
  color: #39A6A3;
}

hr {
  /* background-color: white; */
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: blue;
  /* height: 0px; */
  width: 5%;
}

/* img{
height: 280px;
} */
