 body {
   color: #40514E;
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
   /* display: inline-block; */
   /* font-size: 20px; */
 }

 h1 {
   color: #66BFBF;
   font-size: 5.625rem;
   /* 100%=16px=1em, 90px/16px=562.5 */
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
 }

 h2 {
   color: #66BFBF;
   font-size: 2.5rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
   padding-bottom: 10px;
 }

 h3 {
   color: #11999E;
   font-family: 'Montserrat', sans-serif;
 }

 p {
   line-height: 2;
 }

 .top-container {
   background-color: #435055;
   position: relative;
   padding-top: 100px;
 }

 .middle-container {
   margin: 100px 0;
 }

 .bottom-container {
   background-color: #66bfbf;
   padding: 50px 0 20px;
 }

 /* .Web {
   text-decoration: underline;
 } */
 .bottom-cloud {
   position: absolute;
   left: 250px;
   bottom: 300px;
 }

 .top-cloud {
   position: absolute;
   right: 300px;
   top: 40px;
 }

 .weight-lift {
   margin-left: 30px;
   float: right;
   width: 25%;
   background-color: #435055;
 }

 .intro {
   width: 30%;
   margin: auto;
 }

 .skills-image {
   margin-right: 30px;
   float: left;
   width: 25%;
   background-color: #E4DCEF;
 }

 .profile-pic {
   margin-top: 20px;
   width: 20%;
   /* background-color: red; */
 }

 .p {
   color: #CB3B3B;
 }

 .skill-row {
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
 }

 hr {
   border-style: none;
   border-top-style: dotted;
   border-width: 5px;
   border-color: lightblue;
   width: 5%;
   margin: 100px auto;
 }

 .contact-messsage {
   width: 40%;
   margin: 40px auto 60px;
 }

 .btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   text-shadow: 1px 1px 3px #2b152b;
   font-family: 'Montserrat', sans-serif;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
 }

 .btn:hover {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
   text-decoration: none;
 }

 .footer-link {
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   color: #1199e;
   margin: 10px 20px;
 }

 .footer-link:hover {
   color: #EAF6F6
 }

 .one {
   text-decoration: none;
   color: #40514E;
 }

 .one:hover {
   color: #CD8D7B;
 }

 .copy-right {
   color: #eaf6f6;
   font-size: 0.75rem;
   padding: 20px 0;
 }
