body {
  background-color: #020404;
}

.FE {
  color: #957681;
}

a {
  color: #f3f5f4f2;
}

a:link {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: cyan;
}

/* a:visited {
  color: cyan;
} */
.six:link {
  text-align: center;
  background-color: #f44336;
  padding: 5px 5px;
  border: 2px solid cyan;
  border-radius: 20px;
}

.seven:link {
  /* color: red; */
  /* color: ; */
  text-align: center;
  background-color: #f44336;
  padding: 5px 5px;
  border: 2px solid cyan;
  border-radius: 20px;
}

.eight:link {
  color: #A03C78;
}

.La {
  color: #A03C78;
}

.CN {
  color: #A03C78;
}

.HB {
  color: #39A6A3;
}

table {
  color: #C2BE53;
}

h1 {
  color: #b0c560;
}

h3 {
  color: #107A8B;
}

.Name {
  color: #D35D6E;
}

.p {
  color: #50a59f;
  font-style: italic;
}

hr {
  /* background-color: white; */
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: lightblue;
  /* height: 0px; */
  width: 5%;
}

/* img{
height: 280px;
} */
